* {
	font-family: 'Roboto Condensed', sans-serif;
}
.bg-image {
	height: 100vh;
	width: 100%;
	background:url('./images/landing.webp');
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-image .nav {
	margin-top: 2%;
}

.bg-image .navbar-brand{
	color: white;
	font-size: 2rem;
	font-weight: 700;
	margin-left: 50px;
}

.bg-image .nav li a {
	color: white;
	font-size: 2rem;
}

.logo {
	width: 80px;
	height: 80px;
	padding: 20px;
}
.bg-project {
	background-color: #241F4F;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%232d2152' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23352355' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%233e2658' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2346285b' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%234F2A5E' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}
.tools {
	width: 150;
}
.contact {
	font-weight: 700;
	font-size: 3rem;
}